<form asp-controller="Home" asp-action="Result">
    <p>Num 1</p>
    <input type="number" name="num1" />

    <p>Num 2</p>
    <input type="number" name="num2" />
    <br />
    <input type="radio" name="operation" value="+" />
    <label>Addition</label>
    <br />
    <input type="radio" name="operation" value="-" />
    <label>Subtraction</label>
    <br />
    <input type="radio" name="operation" value="*" />
    <label>Multiplication</label>
    <br />
    <input type="radio" name="operation" value="/" />
    <label>Division</label>

    <input type="submit" />
</form>
