<form asp-controller="Home" asp-action="LogResult">
    <label for="username">UserName:</label><br/>
    <input type="text" id="username" name="userName" /><br />
    <label for="userpass">Password:</label><br/>
    <input type="password" id="userpass" name="userPassword" /><br/>
    <label for="userage">Age:</label><br/>
    <input type="number" id="userage" name="userAge" /><br/>
    <input type="submit" value="Submit"/>
</form>