@model Result

<p>I am promising this view an int, that it can reference. You can reference by using Model.</p>
<p>Num 1: @Model.num1</p>
<p>Num 2: @Model.num2</p>
<p>Operation: @Model.operation</p>

<p>Result: @Model.output</p>